<div class="wrapper_message">
    <div class="chat__wrapper">
    <div class="content">
      <div class="title">
      <span>匿</span>
      <span>名</span>
      <span>チ</span>
      <span>ャ</span>
      <span>ッ</span>
      <span>ト</span>
      </div>
    </div> 
      <h4 class="chat_message">自由にコメントを書くことができます。<br>
      行ってみたいサウナ。<br>
      今日どのように整ったか。<br>
      注意事項に反しない範囲で書き込んで下さい。
    </div>
</div>
<div class="chat_wrapper">
      <div class="chat_comment">
          <%= form_with model: @message do |f| %>
            <%= f.text_field :text %>
            <%= f.submit '送信' %>
          <% end %>
          <div id='messages'></div>
            <% @messages.reverse_each do |message| %>
              <p><%= message.text %></p>
            <% end %>
          </div>
      </div>
</div>