<div class="card">
  <%= link_to image_tag(chat.image.variant(resize: '300x300'), class: :card__img), chat_path(chat.id), method: :get  if chat.image.attached? %>
  <div class="card__body">
    <%= link_to chat.sauna_name, chat_path(chat.id), method: :get, class: :chat__sauna_name %>
     <p class="card__summary">
       <%= chat.description %>
     </p>
    <%= link_to "by#{chat.user.name}"%>
  </div>
</div>