  <div class="content">
      <div class="title">
        <span>サ</span>
        <span>ウ</span>
        <span>ナ</span>
        <span>と</span>
        <span>と</span>
        <span>の</span>
        <span>い</span>
        <span>。</span>
      </div> 
    <h1 class="title-1">Good löyly</h1>
    <h1 class="title-1">Good sauna</h1>
    <h1 class="title-1">Good for Health</h1>
  </div> 
  <main class="main">
    <div class="inner">
      <h1 class="page-heading">大阪サウナ新着情報</h1>
      <h3 class="sub-heading">サウナに行った記録や口コミを残してみよう</h3>
      <div class="card__wrapper">
      <%= render partial: "chat", collection: @chats %>
      </div>
    </div>
  </main>
  <div class="container">
    <div class="heading">
      <h2>FAQ</h2>
    </div>
        <div class="section s_01">
        <div class="accordion_one">
          <div class="accordion_header">サウナってメタボゾンビの集まりだよね.何がいいの？<div class="i_box"><i class="one_i"></i></div></div>
          <div class="accordion_inner">
            <div class="box_one">
              <p class="txt_a_ac">心身がスッキリし体調が万全の状態になることが整うということ。</p>
            </div>
          </div>
        </div>
        
        <div class="accordion_one">
          <div class="accordion_header">TTNTってなに？<div class="i_box"><i class="one_i"></i></div></div>
          <div class="accordion_inner">
            <div class="box_one">
              <p class="txt_a_ac">ととのったーって意味です。私が作りました。</p>
            </div>
          </div>
        </div>
        
        <div class="accordion_one">
          <div class="accordion_header">ととのうってなに？？<div class="i_box"><i class="one_i"></i></div></div>
          <div class="accordion_inner">
            <div class="box_one">
              <p class="txt_a_ac">心身がスッキリし<br>体調が万全の状態になることが整うということ。</p>
            </div>
          </div>
        </div>

        <div class="accordion_one">
          <div class="accordion_header">ととのうってなに？？<div class="i_box"><i class="one_i"></i></div></div>
          <div class="accordion_inner">
            <div class="box_one">
              <p class="txt_a_ac">心身がスッキリし体調が万全の状態になることが整うということ。</p>
            </div>
          </div>
        </div>

        <div class="accordion_one">
          <div class="accordion_header">ととのうってなに？？<div class="i_box"><i class="one_i"></i></div></div>
          <div class="accordion_inner">
            <div class="box_one">
              <p class="txt_a_ac">心身がスッキリし体調が万全の状態になることが整うということ。</p>
            </div>
          </div>
        </div>
  </div>
<footer>
    <a href="#" class="btn btn-secondary"></a></a>
    <ul class="footer-nav">
        <li><a href="#">サービス内容</a></li>
        <li><a href="#">お問い合わせ</a></li>
    </ul>
</footer>
