<main class="main">
    <div class="inner">
      <div class="page-heading">OsakaSaunaNewInfo</div>
      <div class="search_result">
        <p class="result">検索結果を表示します</p>
      </div>
      <div class="card__wrapper">
      <%= render partial: "chat", collection: @chats %>
      </div>
    </div>
</main>
