<main class="main">
    <div class="inner">
      <div class="page-heading">OsakaSaunaNewInfo</div>
      <div class="search_result">
        <p class="result">検索結果を表示します</p>
      </div>
      <div class="card__wrapper">
      <%= render partial: "chat", collection: @chats %>
      </div>
    </div>
</main>
<footer>
    <a href="#" class="btn btn-secondary"></a></a>
    <ul class="footer-nav">
        <li><a href="#">サービス内容</a></li>
        <li><a href="#">お問い合わせ</a></li>
    </ul>
</footer>