.header-wrapper {
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
  line-height: 50px;
  box-shadow: -1px 1px 1px rgba(0,0,0,0.1);
  z-index: 10;
  border-radius: 5%;
}

.header-title {
  float: left;
  padding: 0px 30px;
}

.header-logo {
  color: #777;
  font-weight: 700;
  font-size: 49px;
  cursor: pointer;
  text-decoration: none;
}

.header-menu-right {
  float: right;
  display: inline-block;
}

.header-menu-right li {
  float: left;
  padding-top: 15px;
  font-size: 30px;
  padding: 0 3px;
  
}

.header-menu-right a {
  color: #323A45;
  font-weight: 700;
  padding: 0 5px;
  text-decoration: none;
}

.header-menu-right a:hover {
  color: #5983ff;
  transition: color .3s;
}

.main {
  max-width: 1000px;
  margin: 150px auto 0;
  background: #fff;
  box-shadow: 0 0 6px rgba(0,0,0,.2);
}

.SAUNA-INFO {
  text-align: center;
  margin-top: 40px;

}

.SAUNA-INFO h2{
  font-size: 30px;
  font-weight: bold;
}

.page-heading {
  font-weight: bold;
  color:lightskyblue;
  font-size: 40px;
}

.sub-heading {
  margin-bottom: 50px;
  font-size:20px;
  color: burlywood;
  font-weight: bold;
}

.field {
  text-align: center;
}

.actions {
  text-align: center;
}

.form__btn {
  font-size: 20px;
}

.card__wrapper {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
}

.card {
width: calc((100% - 50px) / 3);
margin-bottom: 40px;
}

.card__img {
  width: 33vh;
  height: 33vh;
}



.btn {
  text-align: center;
  width: 100%;
}

.footer {
background-color: #999;
padding: 10px 0;
}

.copyright {
text-align: center;
color: #fff;
font-size: 10px;
}

footer {
  width: 100%;
  color: rgba(255,255,255,.8);
  background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
  border-radius: 5%;
}

.footer-nav li {
  padding: 15px 0 0 25px;
}

.footer-nav {
  color: #d5d7e4;
  font-size: 25px;
}

.footer-content {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

.heading {
  text-align: center;
  font-size: 30px;
}

.text-contents {
  margin: 3% auto;
  width: 80%;
  font-size: 12px;
  color: #b3aeb5;
  display:none;
}

.chat__wrapper {
  text-align: center;
}

.back_to_btn {
  text-align: center;
  background-color: white;
}

.back_btn {
  text-decoration: none;
  font-size: 20px;
}

.select-box {
  width: 150px;
}

.chat-room {
  text-align: center;
  margin: 50px auto;
 
}

.guest_chat_room {
  text-decoration: none;
  color: lightseagreen;
  font-size:30px;
}

.guest_comment p{
  font-size: 25px;
}

.search-input {
  margin: 40px auto;
}

.chat__comments{
  background-color: #f6f6f6;
  padding: 20px;
  margin: 28px 0 40px 0;
  text-align: center;
}

.comments_lists{
  padding-left: 20px;
}

.comments_list{
  list-style-type: square;
  padding-bottom: 5px;
  list-style: none;
}

.comment_user{
  font-size: 16px;
  color: #999;
  text-decoration: underline;
}

.chat_action {
  margin: 20px 50px;
}

.result {
  color: lightblue;
  font-size: 30px;
  margin-bottom: 15px;
}

.chat__user {
  font-size: 25px;
  text-decoration: none;
}

.chat__btn {
  text-decoration: none;
  color: black;
}

.detail__title {
  font-size: 20px;
  color: lightblue;
  text-decoration: none;
}

.detail__message {
  font-size: 20px;
}

.form__text {
  width: 40%;
  height: 100px;
}




@media (max-width: 1024px) {
.inner {
  width: 100%;
  margin: 10px auto 30px;
}

.header-menu-right li {
  font-size: 25px;
}

.card {
  width: 48%;
  margin-bottom: 40px;
}
.card__title {
  font-size: 20px;
}
.card__summary {
  font-size: 16px;
}
}

@media (max-width:950px) {

  .main {
    max-width: 850px;
    
  }
  
  .header-logo {
    color: #777;
    font-weight: 700;
    font-size: 40px;
    font-family: 'Dosis', sans-serif;
    cursor: pointer;
  }
  .header-menu-right li {
    font-size: 25px;
  }
  
  .inner {
    width: 100%;
    margin: 10px auto 20px;
    text-align:center
  }

  .page-heading {
    font-size: 30px;
  }

  .card {
    width: 100%;
    margin-bottom: 60px;
  }

  .card__title {
    font-size: 18px;
  }

  .card__summary {
    font-size: 14px;
  }
}
  

@media (max-width: 680px) {
  .main {
    max-width: 500px;
    
  }
  .inner {
    text-align: center;
    margin: 10px auto 20px;
  }

  .header-title {
    padding: 0 0 0 10px;
  }

  .header-logo {
    font-size: 35px;
  }

  .header-menu-right li {
    font-size: 19px;
  }

  .s_01 .accordion_one .accordion_header {
    font-size: 16px;
    text-align: left;
    padding: 15px 60px 15px 15px;
  }

  .footer-nav {
    color: #d5d7e4;
    font-size: 20px;
  }
}

@media (max-width: 400px) {

  .main {
    max-width: 320px;
    
  }

  .inner {
    width: 100%;
    text-align: center;
    margin: 10px auto 20px;
  }

  .header-title {
    padding: 0 0 0 10px;
  }

  .header-logo {
    font-size: 35px;
  }
  .header-menu-right li {
    padding-bottom: 10px;
    font-size: 16px;
  }

  .header-menu-right a {
    padding: 0 1px;
  }
  .page-heading {
    font-size: 25px;
  }
  .card {
    width: 100%;
    margin-bottom: 60px;
  }
  .card__title {
    font-size: 18px;
  }
  .card__summary {
    font-size: 14px;
  }
  
  .footer-nav {
    color: #d5d7e4;
    font-size: 13px;
  }

  .footer-content {
    font-size: 10px;
  }

  .footer-nav li {
    padding: 15px 0 0 15px;
  }
}
