.inner{
  position:relative;
  text-align:center;
}
.modal {
  position:absolute;
  width:100%;
  height:50vh;
  top:0;
  left:0;
  display:none;
}
.overLay {
  position:absolute¥;
  top:0;
  left:0;
  background:rgba(247, 246, 244, 0.9);
  width:100%;
  height:50vh;
  z-index:10;
}
 
.modal .inner {
  position:absolute;
  z-index:11;
  top:1%;
  left:50%;
  transform:translate(-50%, 50%);
}

.warning {
  font-size: 30px;
  color: red
}

.modalClose {
  font-size: 25px;
  text-decoration: none;
}

.modalOpen{
  font-size: 15px;
  text-decoration: none;
  color:blue;
}

.s_01 .accordion_one {
  max-width: 600px;
  margin: 0 auto;
}
.s_01 .accordion_one .accordion_header {
  color: black;
  font-size: 20px;
  font-weight: bold;
  padding: 20px 11%;
  text-align: center;
  position: relative;
  z-index: +1;
  cursor: pointer;
  transition-duration: 0.2s;
}
.s_01 .accordion_one .accordion_header .i_box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 5%;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  margin-top: -20px;
  box-sizing: border-box;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transform-origin: center center;
  transition-duration: 0.2s;
}
.s_01 .accordion_one .accordion_header .i_box .one_i {
  display: block;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transform-origin: center center;
  transition-duration: 0.2s;
  position: relative;
}
.s_01 .accordion_one .accordion_header.open .i_box {
  -webkit-transform: rotate(-360deg);
  transform: rotate(-360deg);
}
.s_01 .accordion_one .accordion_header .i_box .one_i:before, .s_01 .accordion_one .accordion_header .i_box .one_i:after {
  display: flex;
  content: '';
  background-color: black;
  border-radius: 10px;
  width: 18px;
  height: 4px;
  position: absolute;
  top: 7px;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  transform-origin: center center;
}
.s_01 .accordion_one .accordion_header .i_box .one_i:before {
  width: 4px;
  height: 18px;
  top: 0;
  left: 7px;
}
.s_01 .accordion_one .accordion_header.open .i_box .one_i:before {
  content: none;
}
.s_01 .accordion_one .accordion_header.open .i_box .one_i:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.s_01 .accordion_one .accordion_inner {
  display: none;
  padding: 10px 10px;
  box-sizing: border-box;
  margin-bottom: 30px;
}
.s_01 .accordion_one .accordion_inner .box_one {
  height: 30px;
}
.s_01 .accordion_one .accordion_inner p.txt_a_ac {
  margin: 0;
  text-align: center;
  font-weight: bold;
  color: lightskyblue;
}
.content{
  margin-top: 150px;
}
.title {
  display: flex;
  overflow: hidden;
  color: lightskyblue;
  font-size: 40px;
  justify-content: center;
  margin: 50px 0 20px 0;
  font-weight: bold;
}

.title span {
  display: block;
  transform: translate(0, 105%);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

.title.-visible span {
  transform: translate(0, 0);
}

.title span:nth-child(2) {
  transition-delay: 0.06s;
}
.title span:nth-child(3) {
  transition-delay: 0.12s;
}
.title span:nth-child(4) {
  transition-delay: 0.18s;
}
.title span:nth-child(5) {
  transition-delay: 0.24s;
}
.title span:nth-child(6) {
  transition-delay: 0.30s;
}
.title span:nth-child(7) {
  transition-delay: 0.36s;
}
.title span:nth-child(8) {
  transition-delay: 0.42s;
}
.title span:nth-child(9) {
  transition-delay: 0.48s;
}
.title span:nth-child(10) {
  transition-delay: 0.54s;
}
.title span:nth-child(11) {
  transition-delay: 0.6s;
}
.title span:nth-child(12) {
  transition-delay: 0.66s;
}
.title span:nth-child(13) {
  transition-delay: 0.72s;
}
.title span:nth-child(14) {
  transition-delay: 0.78s;
}

.title-1 {
  display: none;
  text-align: center;
  font-size: 40px;
  color: lightskyblue;
  padding-bottom: 10px;
}



.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.content-wrap {
  height: 275px;
  overflow: hidden;
  position: relative;
  margin: 0;
}
.close-btn, .more-btn {
  display: block;
  width: 100%;
  padding: 120px 0 0;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 60%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 60%
  );
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 60%
  );
}
.close-btn {
  background: none;
}
.slide-up {
  height: 275px;
  padding-bottom: 0;
  overflow: hidden;
}
.slide-down {
  height: auto;
  overflow: visible;
  padding-bottom: 50px;
}
.more-btn p {
  display: inline-block;
  color: #fff;
  cursor: pointer;
  background: #29B6F6;
  padding: 5px 20px;
  width: 30%;
  border-radius: 20px;
}
.close-btn {
  padding:0;
}
.close-btn p {
  background: #aaa;

}


@media (max-width: 800px) {
  .title{
    font-size: 28px;
  }
  .warning {
    font-size:23px;
  }
  .modalClose { 
    font-size: 25px;
  }

  .title-1{
    font-size: 40px;
  }
  .modal .inner {
    transform:translate(-50%,-10%);
  }
  
}

@media (max-width: 400px) {
  .title{
    font-size: 25px;
  }

  .title-1{
    font-size: 30px;
  }

  .warning {
    font-size: 17px;
  }

  .modalClose {
    font-size: 18px;
  }

  .s_01 .accordion_one .accordion_inner p.txt_a_ac {
    font-size: 12px;
  }

  .modalOpen {
    font-size: 20px;
  }

  .modal .inner {
    transform:translate(-50%,-10%);
  }
  .modal {

    height:35vh;

  }
  .overLay {
    height:35vh;
    
  }
  .more-btn p {
    
  }
}