.wrapper_message {
  max-width: 1000px;
  margin: 50px auto 0;
  background: #fff;
  box-shadow: 0 0 6px rgba(0,0,0,.2);
}

.chat_title{
  font-size: 30px;
  color: lightskyblue
}

.chat_comment {
  text-align: center;
  font-weight: bold;
}