/* 非同期通信 */
.wrapper_message {
  max-width: 1000px;
  margin: 150px auto 0;
  background: #fff;
}

.chat_title{
  font-size: 30px;
  color: lightskyblue;
  text-align:center;
}

.chat_message {
  font-weight: bold;
}


.chat_wrapper {
  max-width: 1000px;
  margin: 50px auto 0;
  background: #fff;
}
.chat_comment {
  text-align: center;
  font-weight: bold;
}
/* モバイルファースト400 */
@media (max-width: 400px) {
  .chat_message {
    font-size: 10px;
  }
  .chat_title {
    font-size: 20px;
  }

  .chat_message {
    font-size: 15px;
  }
}